@font-face {
    font-family: 'Roboto';
    font-style: normal;	
    src: url(fonts/fonts/Roboto-VariableFont_wdth\,wght.ttf) format('truetype');
    font-weight: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #222222;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 10%;
}

a {
    text-decoration: none;
    color: inherit;
    color: #222222;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 96px;
    height: 96px;
    transition: transform 0.3s ease;
}

.grid-item img:hover {
    transform: scale(1.1);
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #666666;
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}